.blogs-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
