@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  background: linear-gradient(to right, #a8ff78, #78ffd6);
}

.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-family: "Bree Serif";
  font-size: 40px;
  color: white;
  text-shadow: 2px 2px green;
}

img {
  width: 300px;
}

p {
  background-color: white;
  padding: 20px;
  min-width: 400px;
  border-radius: 8px;
  text-align: center;
  font-family: "Roboto";
  max-width: 50%;
  font-weight: 500;
}

button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: grey;
  color: white;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  font-family: "Roboto";
  cursor: pointer;
}

.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid #37be37;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}
